body {
    margin: 0;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  canvas {
    background-color: #1e1e1e;
    box-shadow: 0 0 20px #00f6ff44;
    border-radius: 10px;
  }
  